*{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
body{
    // font-family: 'PingFang SC', "Helvetica Neue", Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif;
    // font-family: 'Noto Serif SC','Source Han Serif SC','Source Han Serif',source-han-serif-sc,'PT Serif','SongTi SC','MicroSoft Yahei',Georgia,serif; // 无效
    // font-family:"Times New Roman",Times,serif;
    font-family: "楷体", "楷体_GB2312", serif;
    // font-family: 'NSimSun';
    height: 100%;
    cursor: pointer;
    cursor: url(../assets/imgs/normal.cur), auto;
}

a{
    text-decoration: none
}
/* 滚动条 */
::-webkit-scrollbar{
    width: 6px;
}
::-webkit-scrollbar-thumb{
    background: #FE9600;
}

/* 请求加载中 */
.sakuras-loading{
    color: red,
}

/* Markdown编辑器 */
.sakuras-markdown-editor{
    // height: 100% !important;
}